body {
    font-family: Avenir Next LT Pro, serif;
}

.logo {
    max-height: 10em;
    max-width: 15em;
    padding-left: 10%;
}

.logo:hover {
    cursor: pointer;
}

.top {
    background-color: white;
}

.navhead {
    float: right;
}

.navhead li a {
    display: inline-block;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.2rem;
    background-color: white;
    border: none;
    color: black;
}

.navhead li a:hover {
    color: red;
}

.navhead li a:active {
    background-color: white;
}

.about {
    margin-top: 6%;
}

.about p {
    font-size: 2.8em;
}

.portfolio {
    padding-top: 4%;
}

.portfolioHeading {
    font-size: 5em;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 3%;
    cursor: default;
}

.portfolioHeading:hover {
    color: red;
}

.contactHeading {
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 3%;
    cursor: default;
}

.contactHeading:hover {
    color: red;
}