body {
    font-family: Avenir Next LT Pro, "Helvetica Neue", serif;
}

.logo {
    max-height: 9em;
    max-width: 12em;
    padding-left: 10%;
}

.logo:hover {
    cursor: pointer;
}

.break {
    border-color: red;
}

.top {
    background-color: white;
}

.me {
    height: 30em;
    width: 40em;
    margin-top: 3rem;
}

.navhead {
    float: right;
}

.navhead li a {
    display: inline-block;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.2rem;
    background-color: white;
    border: none;
    color: black;
}

.navhead li a:hover {
    color: red;
}

.navhead li a:active {
    background-color: white;
}

.navhead li a:focus {
    outline: none;
}

.about p {
    font-size: 2em;
}

.portfolio {
    padding-top: 4%;
}

.portfolioHeading {
    font-size: 5em;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 3%;
    cursor: default;
    opacity: 0;
}

.portfolioHeading:hover {
    color: red;
}

.thumbRow1 {
    opacity: 0;
}

.thumbRow2 {
    opacity: 0;
}

.thumbRow3 {
    opacity: 0;
}

.contactHeading {
    font-size: 3em;
    text-decoration: underline;
    cursor: default;
    opacity: 0;
}

.contactHeading:hover {
    color: red;
}

.padder {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 8rem;
}

.social {
    opacity: 0;
}

.socIcon {
    height: 4em;
    width: 4em;
    float: right;
    padding-right: 1%;
    padding-left: 1%;
}

.copyright {
    text-align: center;
    padding-top: 3%;
}